
<table>
<thead>
    <tr>
    <th>Título</th>
    <th>Descripción</th>
    <th>Completar</th>
    <th>Eliminar</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let tarea of tareas; index as i">
    <td [class.completada]="tarea.completada">{{tarea.titulo}}</td>
    <td  [class.completada]="tarea.completada">{{tarea.descripcion}}</td>
    <td>
        <button (click)="completarTarea(i)">
        {{tarea.completada ? 'Desmarcar como completada' : 'Marcar como completada'}}
        </button>
    </td>
    <td>
        <button (click)="eliminarTarea(i)">Eliminar</button>
    </td>
    </tr>
</tbody>
</table>
<app-formulario-tarea (tareaCreada)="agregarTarea($event)"></app-formulario-tarea>
