<!-- Este es el formulario de la tarea. Cuando se envía el formulario, se llama al método agregarTarea(). -->
<form (ngSubmit)="agregarTarea()">
    <div>
    <!-- Este es el campo de entrada para el título de la tarea. -->
    <input [(ngModel)]="titulo" name="titulo" placeholder="Título de la tarea" required />
    </div>
    <div>
    <!-- Este es el campo de entrada para la descripción de la tarea. -->
    <textarea [(ngModel)]="descripcion" name="descripcion" placeholder="Descripción de la tarea"required></textarea>
    </div>
    <div>
    <!-- Este es el botón de envío del formulario. -->
    <button type="submit">Agregar tarea</button>
    </div>
</form>